// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
	padding:5px;
}

#edit_prod {
	text-align:left;
	margin-left:15px;
}

#categories{
	text-align:left;
	margin-left:15px;
}

#comments{
	text-align:left;
	margin-left:20px;
}

.comment{
	border:solid teal 1px;
	padding:5px;
	width:250px;
	display:inline-block;
	margin-right:10px;
}

